{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% if results.data  %}
		{% for venue in results.data %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
		</li>
		{% endfor %}
	{% else %}
		<li>
			<a href="/">
				<i class="fa fa-home"></i>
				<div class="item">
					<h5>Pas de résultats</h5>
				</div>
			</a>
		</li>
	{% endif %}
</ul>
{% endblock %}